{% load i18n %}
{% spaceless %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Site name {% block page.title %}{% endblock %}</title>
        <meta name="keywords" content="r" />

        {% block site.headstyles %}
        <link href="{{ STATIC_URL}}website/css/reset.css" rel="stylesheet" type="text/css" media="screen" />
        <link href="{{ STATIC_URL}}website/css/site.css" rel="stylesheet" type="text/css" media="screen" />
        {% block app.headstyles %}{% endblock %}
        {% block project.headstyles %}{% endblock %}
        {% endblock %}

        {% block site.headscripts %}
        <script type="text/javascript" src="{{STATIC_URL}}website/js/jquery.js"></script>
        {% block app.headscripts %}{% endblock %}
        {% block project.headscripts %}{% endblock %}
        {% endblock %}

        {% block hextraHead %} {% endblock %}
        {% block document.favicon %}
        <link rel="icon" type="image/png" href="{{STATIC_URL}}website/img/icon.jpg" />
        {% endblock%}
    </head>
    <body>
        {% block page.body %}{% endblock %}

        {% block site.scripts %}
        <script>
            var django = (function($){
                var _urls = {}
                var _conf = {}
                return {
                    settings: {
                        'MEDIA_URL':  '{{ MEDIA_URL }}',
                        'STATIC_URL': '{{ STATIC_URL }}'
                    },

                    i18n: function() {
                        var strs = {};
                        var get = function(k)    { return _conf[k] }
                        var set = function(k, v) { return _conf[k] = v }
                        return arguments.length == 2 
                        && set(arguments[0], arguments[1]) 
                        || get(arguments[0])
                    },

                    urls: function() {
                        var get = function(k)    { return _urls[k] }
                        var set = function(k, v) { return _urls[k] = v }
                        return arguments.length >= 2 
                        && set(arguments[0], arguments[1]) 
                        || get(arguments[0])
                    }
                }
            })(jQuery)

            {# http://www.djangoproject.com/weblog/2011/feb/08/security/ #}
            {# http://docs.djangoproject.com/en/dev/ref/contrib/csrf/#ajax #}
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if ($.cookie('csrftoken') && (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url)))) {
                        xhr.setRequestHeader("X-CSRFToken", $.cookie('csrftoken'))
                    }
                }
            });

        </script>
        {% block app.scripts %}{% endblock %}
        {% block project.scripts %}{% endblock %}

        {% endblock %}

        <div id="footer">
            <p class="copyright">
            Site name &copy;&nbsp;&nbsp;2014 - {% now "Y" %}, {% trans "Conception" %} <a href="mailto:maxime.barbier1991@gmail.com">Maxime BARBIER</a>, {% trans "Tous droits réservés" %}.
            </p>
        </div>

    </body>
</html>
{% endspaceless %}

